<header class="header">
    <div class="nav-container">
        <nav class="navbar">
            <div class="nav-item">
                <div class="logo">
                    <p>{{title}}</p>
                </div>
            </div>
            <div class="nav-item">
                <app-navlink 
                *ngFor="let navlink of navlinks"
                [navlink]="navlink">
                </app-navlink>
            </div>
            <div 
            *ngIf="isLoggedIn()"
            class="nav-item">
                <div class="navbar-user-name">
                    <span>Welcome {{userPrenom}}</span>
                </div>
                <div class="nav-user-pic">
                    <img class="user-image" src="../../../assets/img/user.png">
                </div>
                <div class="nav-hamburger">
                    <div class="nav-hamburger-inner-container" (click)="toggleHambergerPopup()">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                    <div class="nav-hamburger-popup" *ngIf="displayPopup">
                        <app-hamburger-popup [userName]="userPrenom + ' ' +  userNom"></app-hamburger-popup>
                    </div>
                </div>
            </div>
            <div 
            *ngIf="!isLoggedIn()"
            class="nav-item nav-item-login">
                <div (click)="toggleLoginPopup()" class="login-btn">
                    <i class="fa-solid fa-unlock-keyhole"></i><span class="login-btn-label">Login</span>
                </div>
                <a href="/auth" class="login-btn"><i class="fa-solid fa-user-plus"></i><span class="login-btn-label">Signup</span></a>
            </div>
        </nav>
    </div>
</header>