<div class="nav-hamburger-popup">
    <div class="inner-container">
        <div class="links">
            <a class="link" href="/settings">
                <div class="link-inner-container">
                    <div class="icon-container">
                        <i class="fa-solid fa-gear"></i>
                    </div>Paramètres
                </div>
            </a>
        </div>
        <div class="logout"><span
                class="user-name">{{userName}}</span>
            <div class="logout-link">
                <div class="link-inner-container">
                    <div class="icon-container">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    </div>
                    <span class="logout-button" (click)="logout()">Log Out</span>
                </div>
            </div>
        </div>
    </div>
</div>
