<div class="tasks-container">
    <app-add-task (onAddTask)="addTask($event)"></app-add-task>
    <app-task-item 
    *ngFor="let task of tasks" 
    [task]="task"
    (btnDelete)="deleteTask(task)"
    (btnToggleReminder)="toggleTaskReminder(task)"></app-task-item>
    <ng-container *ngIf="tasks.length == 0">
        <div class="no-tasks">
            <p>Vous n'avez encore ajouté aucune tache <br>...<br>
                N'attendez plus, clicker sur le bouton en haut pour ajouter tous vos taches!
            </p>
        </div>
    </ng-container>
</div>
