<div class="form-container">
    <h5 class="form-title">Inscription</h5>
    <!-- <p>Don't have an account? <a href="#">Creat Your Account</a> it takes less than a minute</p> -->
    <form action="#">
        <div class="data">
            <input required ngModel name="lastname" #lastname="ngModel" placeholder="Nom" type="text" class="col-md-6">
        </div>
        <div class="alert alert-danger" *ngIf="lastname.touched && !lastname.valid">
            Le nom est requis
        </div>
        <div class="data">
            <input required ngModel #firstname="ngModel" class="col-md-6" type="text" name="firstname" placeholder="Prénom">
        </div>
        <div class="alert alert-danger" *ngIf="firstname.touched && !firstname.valid">
            Le Prénom est requis
        </div>
        <div class="data">
            <input required ngModel name="email" #email="ngModel" type="email" placeholder="Email">
        </div>
        <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
            L'email est required
        </div>
        <!-- <br> -->
        <div class="data">
            <input required ngModel name="pass" #pass="ngModel" type="password" placeholder="Mot de passe">
        </div>
        <div class="alert alert-danger" *ngIf="pass.touched && !pass.valid">
            Le mot de passe est required
        </div>
        <div class="data">
            <input required ngModel name="passConfirm" #passConfirm="ngModel" type="password" placeholder="Confirmer votre mot de passe">
        </div>
        <div class="alert alert-danger" *ngIf="passConfirm.touched && !passConfirm.valid">
            Veuillez confirmer le mot de passe
        </div>
        <br>
        <div class="btn btn-block">
            <!-- Change the button -->
            <button type="submit">S'inscrire</button>
        </div>
        <!-- Already a member? -->
        <div class="signup-link">
            Déja membre? <span (click)="showLoginForm()">Connectez vous</span>
        </div>
    </form>

</div>