<!-- Section Navbar -->
<div class="header-container">
    <app-navbar></app-navbar>
</div>
<!-- /.Section Navbar -->
<!-- Section Main -->
<div id="section-slider1">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <!-- Item -->
            <div class="swiper-slide">
                <div class="slider-content">
                    <div class="container">
                        <div class="row">
                            <div class="left col-12 col-sm-12 col-md-7">
                                <h1 class="ez-animate" data-animation="fadeInLeft">Gerez vos taches au quotidien et montez en productivité.</h1>
                                <p class="ez-animate" data-animation="fadeInLeft">Bientot disponible sur IOS et Android.</p>
                                <ul>
                                    <li><a href="#"><img class="img-fluid ez-animate"
                                                src="assets/img/img-appstore.png" alt="appstore"
                                                data-animation="fadeInUp"></a></li>
                                    <li><a href="#"><img class="img-fluid ez-animate"
                                                src="assets/img/img-googleplay.png" alt="googleplay"
                                                data-animation="fadeInUp"></a></li>
                                </ul>
                            </div>
                            <div class="right ez-animate col-12 col-sm-12 col-md-5" data-animation="fadeInRight">
                                <img class="img-fluid" src="assets/img/img-1.png" alt="app-photo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.Item -->
        </div>
    </div>
</div>
<!-- /.Section Main -->

<!-- Popup -->
<div class="login-popup-container">
    <app-login-popup></app-login-popup>
</div>