<!-- Section Navbar -->
<app-navbar></app-navbar>
<!-- ./Section Navbar -->

<!-- Section Main -->
<div class="d-flex align-items-center justify-content-center vh-100" style="font-family: 'Fredoka One', cursive;">
    <div class="text-center">
        <h1 class="display-1 fw-bold">
            <i class="fa-solid fa-triangle-exclamation"></i>
            <span class="text-danger"> Attention </span>
            Travaux!
        </h1>
        <p class="fs-3">Cette page est en cours de construction...</p>
        <p class="lead">
            Revenez plustard <i class="fa-regular fa-hand-peace"></i>
        </p>
    </div>
</div>
<!-- ./Section Main -->