<div class="form-container">
    <h5 class="form-title">Connectez Vous</h5>
    <!-- <p>Don't have an account? <a href="#">Creat Your Account</a> it takes less than a minute</p> -->
    <form action="#" (ngSubmit)="onSubmit()">
        <div class="data">
            <input 
            required
            pattern="^[A-Za-z0-9+_.-]+@+(.+)+\.+(.+)$"
            [(ngModel)] = "email"
            name="email" 
            #emailInput="ngModel"
            type="email"
            placeholder="Email">
        </div>
        <div class="alert alert-danger" *ngIf="emailInput.touched && !emailInput.valid">
            <ul>
                <li
                *ngIf="emailInput.errors?.['required']">
                The email is required.
                </li>
                <li
                *ngIf="emailInput.errors?.['pattern']">
                Please enter a valid email adresse.
                </li>
            </ul>
        </div>
        <!-- <br> -->
        <div class="data">
            <input 
            required
            [(ngModel)]="password"
            name="pass" 
            #passInput="ngModel"
            type="password"
            placeholder="Mot de passe">
        </div>
        <div class="alert alert-danger" *ngIf="passInput.touched && !passInput.valid">
            <ul>
                <li
                *ngIf="passInput.errors?.['required']">
                The password is required.
                </li>
            </ul>
        </div>

        <br>

        <div class="alert alert-danger" *ngIf="isPasswordInCorrect">
            <span>Le mot de pass que vous avez entré est incorrect</span>
        </div>

        <br>

        <div class="alert alert-danger" *ngIf="isUserUnfound">
            <span>Aucun utilisateur n'est enregistré avec cette adresse email.</span>
        </div>

        <br>
        <!-- forgot password ? -->
        <div class="forgot-pass">
            <a href="#">Mot de passe oublié ?</a>
        </div>
        <!-- login button -->
        <div class="btn">
            <!-- <div class="inner"></div> -->
            <button type="submit">Connexion</button>
        </div>
        <!-- Not a member? -->
        <div class="signup-link">
            Pas encore membre? <span (click)="showSigninForm()">Inscrivez vous</span>
        </div>
    </form>

</div>